{{drinks-filter doFilter='filterDrinks' model=model}}
<h4>List of Cocktails</h4>
{{#each model as |data|}}
    {{#link-to "drinks.show" data.id}}
    <div class="card">
        <div class="text-side">

            <h3>{{data.name}}</h3>
            <ul>
            {{#each data.attributes.ingredients as |ing index|}}
                {{#if ing.show}}
                    <li>{{ing.strIngredient}}</li>
                {{/if}}
            {{/each}}
            </ul>

            {{#if data.attributes.ingredientToShowCounter}}
            <div>and {{data.attributes.ingredientToShowCounter}} ingredients more</div>
            {{/if}}
        </div>
        <div class="image-side">
            <img src={{data.thumb}} alt="image">
        </div>
    </div>
    {{/link-to}}
{{/each}}
{{outlet}}