<h4>{{model.name}}</h4>
{{#link-to "drinks"}}
    <div class="goback">back</div>
{{/link-to}}
<div class="card card-detail" onclick="alert('test')">
    <div class="image-detail">
        <img src={{model.thumb}} alt="image">
    </div>
    <div class="text-detail">
        {{#each model.ingredients as |ing index|}}
            <div>{{ing.strMeasure}} - {{ing.strIngredient}}</div>
        {{/each}}

        <ul>
            <li>How to prepare</li>
        </ul>
        <p>
            {{model.strInstructions}}
        </p>
    </div>
</div>
{{outlet}}